.navbar {
  background-color: black;
  color: White;
  padding: 10px 0px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav h3 {
  padding-left: 20px;
  font-style: oblique;
}

.navUl {
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
  list-style: none;
}

.navUl li {
  padding-top: 10px;
  padding-left: 20px;
  font-weight: 500;
}
