.list {
  font-weight: 500;
  line-height: 30px;
  font-family: sans-serif;
  display: flex;
}

.listItems {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding: 5px;
  width: 250px;
  text-align: center;
  margin: 1rem;

  margin-left: 2.5rem;
}

.listSection {
  display: flex;
  justify-content: center;
}
